// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

// fonts
$ALS: 'ALS Hauss', sans-serif;
$Inter: 'Inter', sans-serif;
// fonts

// colors
$white: #fff;
$red: #EA323E;
$purple: #2E2C41;
$black: #191919;
$text: #9298B0;
$bg_blue: #EEF2F5;
// colors

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

// bootstrap not

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    display: inline-block;

    &:hover {
        color: inherit;
    }
}

p {
    margin-bottom: 0;
}

input {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;

    &:focus {
        outline: none;
    }
}
// bootstrap not

img {
    max-width: 100%;
}


span, label {
    display: inline-block;
}

body {
    font-style: normal;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1267px;
    padding: 0 20px;
}

// global var
.main_title {
    color: #2E2C41;
    text-align: center;
    font-family: $ALS;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 108.896%;
}

.main_link {
    color: #191919;
    font-family: $ALS;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    @include transition();

    &:hover {
        color: #EA323E;
    }
}

.main_btn {
    padding: 15px 40px;
    margin: 0 auto;
    color: #2E2C41;
    font-family: $ALS;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include transition();
    @include flex-full-center();
    gap: 11px;
    border-radius: 10px;
    border: 1px solid $purple !important;

    &:hover {
        background-color: $purple;
        color: $white;

        svg {
            path {
                stroke: $white;
            }
        }
    }
}

.main_btn_danger {
    border-radius: 10px;
    background: #EA323E;
    height: 40px;
    width: 100%;
    display: flex;
    padding: 12px 0 9px;
    justify-content: center;
    color: #FFF;
    font-family: $ALS;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include transition();

    &:hover {
        background-color: $purple;
        color: white;
        text-decoration: none;
    }
}

.swiper-button-disabled {
    cursor: auto;
    opacity: .5;
}
// global var

// Home
.select2-container--open .select2-dropdown--below {
    border: 1px solid #aaa !important;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
}

.select2-search {
    display: none;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: $purple !important;
    color: white;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #2e2c4195;
}

.select2-results__option {
    padding-left: 17px;
    span {
        display: flex;
        gap: 7px;
        font-family: $ALS;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.home {
    background: url('../images/home_bg.png') center/cover no-repeat;
    margin-bottom: 275px;
    
    &__top {
        padding-top: 57px;
        padding-bottom: 187px;

        h1 {
            color: #FFF;
            font-family: $ALS;
            font-size: 57px;
            font-style: normal;
            font-weight: 500;
            line-height: 108.896%;
            max-width: 539px;
            margin-bottom: 56px;
        }

        .text_animation {
            color: #FFF;
            font-family: $ALS;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            span {
                color: #EA323E;
                font-family: "Caveat", sans-serif;
                font-size: 39.518px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-left: 6px;
            }
        }
    }

    &__search {
        .content {
            border-radius: 20px;
            background: #FFF;
            box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.10);
            padding: 31px 48px 50px;
            width: calc(100% - 40px);
            left: 20px;
            top: 0;
            transform: translateY(calc(-50% + 30px));

            &__body {
                gap: 23px;
                position: relative;
                z-index: 2;
            }

            &__item {
                gap: 27px;
                margin-top: 24px;

                .select_wrap {
                    width: 242px;
                }

                .select2-container--default {
                    width: 100% !important;
                    
                    .selection {
                        width: 100%;
                        // height: 50px;
                    }

                    .select2-selection--single  {
                        height: 50px;
                        display: flex;
                        align-items: center;
                        border: none;
                        border-radius: 50px;
                        background: #EEF2F5;
                        padding-left: 17px;

                        .select2-selection__rendered {
                            color: #2E2C41;
                            font-family: $ALS;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;

                            img {
                                margin-right: 9px;
                            }
                        }
                    }

                    .select2-selection__arrow {
                        background-image: url('../images/icons/select_chevron_down.svg');
                        background-size: contain; /* or cover depending on your preference */
                        background-repeat: no-repeat;
                        background-position: center;
                        border: none; /* optional: to remove default border */
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        
                        b {
                            display: none;
                        }
                    }
                    
                    .select2-selection__arrow::after {
                        display: none; /* optional: to hide the default arrow */
                    }
                }
            }

            .right_title {
                gap: 9px;

                span {
                    color: #2E2C41;
                    font-family: $ALS;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }

        .email {
            position: absolute;
            top: 10px;
            right: 9px;
            gap: 8px;

            .text {
                width: 152px;
                color: #FFF;
                font-family: $ALS;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                span {
                    font-weight: 700;
                }

                a {
                    font-family: $ALS;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration-line: underline;
                    margin-top: 8px;
                }

            }

            &:hover {
                svg {
                    path {
                        stroke: $red;
                    }
                }

                .text {
                    color: $red;
                }
            }
        }
        
        img.bg {
            position: absolute;
            top: -1px;
            right: -1px;
        }

        .title {
            gap: 5px;
            margin-bottom: 13px;

            span {
                color: #2E2C41;
                font-family: $ALS;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        select {
            border-radius: 50px;
            background: #EEF2F5;
            border: none;
            outline: none;
            appearance: none;
            display: none;
        }

        .checkboxs {
            gap: 19px;
            margin: 19px 0 25px;
        }

        .checkbox {
            user-select: none;
            cursor: pointer;
            display: flex;
            align-items: center;

            span {
                padding-left: 10px;
            }

            input[type="checkbox"] {
                width: 15px;
                height: 15px;
                border-radius: 2px;
                border: 1px solid #9298B0;
                appearance: none;
                cursor: pointer;
                
                &:checked {
                    background: $red;
                    position: relative;
                    border: none;
                    
                    &::before {
                        content: '\2713';
                        position: absolute;
                        font-size: 12px;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        font-weight: 700;
                    }
                }
            }
        }

        .easy-basket-filter {
            margin-top: 14px;
            position: relative;
            margin-bottom: 57px;
            width: 300px;

            &-range {
                position: relative;

                &::before, &::after {
                    content: '';
                    width: 11px;
                    height: 11px;
                    position: absolute;
                    background: #9298B0;
                    top: -5px;
                    border-radius: 50%;
                    left: 0;
                }

                &::after {
                    left: auto;
                    right: 0;
                }
            }
        }

        .range_vlue {
            border-radius: 50px;
            background: #EEF2F5;
            color: #2E2C41;
            font-family: $ALS;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            height: 29px;
            width: 110px;
            padding: 0 10px;
            text-align: left !important;
            user-select: none;
        }
        
        .fill {
            height: 2px;
            width: 100%;
            background-color: $red;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
        
        .easy-basket-filter-info {
            box-sizing: border-box;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 14px;
        }
        
        .easy-basket-filter-info input {
            text-align: center;
        }
        
        .range {
            position: absolute;
            left: 0;
            top: 0;
        }
        
        input[type=range] {
            -webkit-appearance: none;
            width: 100%;
            margin: 0;
            background: transparent;
        }
        
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            cursor: pointer;
            position: relative;
            z-index: 3;
        }
        
        input[type=range]:focus, input[type=text]:focus {
            outline: none;
        }
        
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 11px;
            width: 11px;
            background: $red;
            border-radius: 10px;
            cursor: pointer;
            margin-top: -5px;
        }
        
        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 2px;
            cursor: pointer;
            background: #9298B0;
            border-radius: 1.3px;
        }
        
        .btns {
            padding-top: 7px;
            width: 543px;

            .main_btn_danger {
                width: 260px;
                border-radius: 50px;
                height: 50px;
                font-size: 18px;
                padding-top: 13px;
            }
        }
    }
}
// Home end

// services
#services {
    .services_wrapper {
        margin-top: 40px;
        display: flex;
        align-items: stretch;
        gap: 20px;

        h6 {
            color: $purple;
            font-family: $ALS;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        p {
            color: $purple;
            font-family: $ALS;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .one_card {
            h4 {
                max-width: 189px;
            }

            p {
                margin-top: 26px;
                max-width: 221px;
            }
        }

        .two_card {
            height: 100%;
            position: relative;
            h4 {
                max-width: 315px;
                margin-bottom: 18px;
            }

            p {
                position: absolute;
                z-index: 2;
                max-width: 231px;
            }

            img {
                width: 130px;
                position: absolute;
                bottom: 0;
                right: 22px;
            }
        }

        .three_card {
            .services_in {
                display: flex;

                img {
                    flex: 1;
                    width: 100%;
                }
            }

            .services_card_text {
                h4 {
                    margin-bottom: 43px;
                }
            }

            img {
                max-width: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .four_card {
            h4 {
                max-width: 130px;
            }

            p {
                max-width: 160px;
            }
        }
    }

    .services_card_mini_in {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .services_card_mini {
        text-decoration: none;
        padding: 26px 10px 26px 30px;
        border-radius: 20px;
        background: $bg_blue;
        @include transition();
        border: 1.5px solid transparent;

        &:hover {
            border-radius: 20px;
            border: 1.5px solid #2E2C41;
            background: #EEF2F5;
            box-shadow: 0px 4px 24px 0px rgba(46, 44, 65, 0.15);
        }

        .services_in {
            display: flex;
        }
    }

    .services_card {
        text-decoration: none;
        padding: 26px 10px 26px 30px;
        flex: 1;
        border-radius: 20px;
        background: $bg_blue;
        @include transition();
        border: 1.5px solid transparent;

        &:hover {
            border-radius: 20px;
            border: 1.5px solid #2E2C41;
            background: #EEF2F5;
            box-shadow: 0px 4px 24px 0px rgba(46, 44, 65, 0.15);
        }
    }
}
// services

// popular_project
#popular_project {
    padding: 85px 0;

    .popular_project_cards {
        margin: 40px 0;
    }

    .popular_Swiper {
        border-radius: 20px 20px 0 0;
        overflow: hidden;

        img {
            width: 100%;
            border-radius: 20px 20px 0 0;
        }
    }

    .project_card_slider {
        user-select: none;
        position: relative;

        .heart_icon {
            cursor: pointer;
            z-index: 2;
            position: absolute;
            top: 8px;
            right: 8px;
            @include transition();
            opacity: 0;
        }
        
        .heart_icon.active {
            path {
                fill: $red;
                stroke: $red;
            }
        }

        .slider_text {
            display: block;
            text-decoration: none;
            @include transition();
            z-index: 2;
            position: absolute;
            top: 11px;
            left: 11px;
            color: #FFF;
            font-family: $Inter;
            font-size: 12px;
            font-weight: 300;
            line-height: normal;
            border-radius: 5px;
            padding: 5px;
            background: rgba(234, 50, 62, 0.55);
            backdrop-filter: blur(1px);
        }
    }

    .swiper-pagination {
        display: flex;
        justify-content: center;
        padding: 0 19px;
        @include transition();
        opacity: 0;

        .swiper-pagination-bullet {
            flex: 1;
            height: 3px;
            border-radius: 0;
            background: $white;
        }

        .swiper-pagination-bullet-active {
            background: $red;
        }

    }

    .popular_project_card {
        text-decoration: none;
        width: 100%;
        margin-bottom: 24px;
        border-radius: 20px;
        background: $white;
        box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.10);
        @include transition();
        position: relative;

        &:hover {
            &::before {
                box-shadow: 0px 8px 32px 0px rgba(248, 34, 34, 0.1);
                border-radius: 20px;
                border: 2px solid $red;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            .popular_Swiper {
                .swiper-pagination {
                    opacity: 1;
                }
                
                img {
                    border: 2px solid $red;
                    border-bottom: none;
                    display: block;
                }
            }

            .heart_icon {
                opacity: 1;
            }
        }

    }
    
    .project_card_content {
        padding: 9px 17px 22px 17px;

        h6 {
            color: $purple;
            font-family: $ALS;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 13px;
        }

        .card_content_block {
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: #191919;
                font-family: $ALS;
                font-size: 16px;
                font-weight: 350;
                line-height: normal;
            }
        }

        .project_card_bottom {
            margin-top: 16px;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;

            span {
                display: block;
                color: #9298B0;
                text-align: right;
                font-family: $ALS;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                text-decoration-line: line-through;
            }

            h5 {
                margin-bottom: 0;
                color: #2E2C41;
                text-align: right;
                font-family: $ALS;
                font-size: 18px;
                font-weight: 700;
                line-height: normal;
            }
        }

        .card_content_block:nth-last-child(even) {
            background-color: $bg_blue;
        }
    }

}
// popular_project

// artist
#artist {
    background-color: $bg_blue;
    padding: 85px 0;

    .artist_title_under {
        margin-top: 17px;
        text-align: center;
        color: $purple;
        font-family: $ALS;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 32px;
    }

    .artist_slider {
        margin-bottom: 40px;
        @include flex-full-center();
        position: relative;

        .artist_btn {
            cursor: pointer;
            position: absolute;
            filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.10));
        }

        .artist_prev {
            left: -104px;
        }

        .artist_next {
            right: -104px;
        }
    }

    .artist_card {
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 147px;
            height: 147px;
            border-radius: 50%;
        }

        h6 {
            margin: 14px 0 3px 0;
            color: $purple;
            text-align: center;
            font-family: $ALS;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
        }

        p {
            color: $purple;
            text-align: center;
            font-family: $ALS;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
        }
    }
}
// artist

// house
#house {
    margin: 85px 0;

    .main_title {
        margin-bottom: 28px;
    }

    // .col-sm-12 .col-md-6 {
    //     padding: 0;
    // }

    // .col-lg-3 {
    //     padding: 0;
    //     width: calc(100% / 4 - 20px);
    // }

    .house_cards {
        display: flex;
        gap: 43px 20px;
        margin-bottom: 43px;
    }

    .house_card {
        width: calc(100% / 4 - 15px);
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
        }

        h6 {
            height: 54px;
            position: absolute;
            left: 21px;
            right: 21px;
            bottom: 17px;
            color: $white;
            font-family: $ALS;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
        }
    }
}
// house

// recommend
#recommend {
    .recommend_cards {
        display: flex;
        align-items: stretch;
        gap: 20px;
        margin-top: 33px;
        margin-bottom: 46px;

        .left_card {
            flex: 1;
        }

        .right_card {
            flex: 1;
        }
    }

    .card_right {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .recommend_card {
            width: calc(100% / 2 - 10px);
            overflow: hidden;
            border-radius: 20px;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .recommend_card {
        text-decoration: none;
        border-radius: 20px;
        overflow: hidden;
        background: $white;
        box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.10);
        
        img {
            width: 100%;
        }

        .recommend_card_content {
            padding: 15px 19px;

            p {
                color: $text;
                font-family: $ALS;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
            }

            h6 {
                color: $purple;
                font-family: $ALS;
                font-size: 22px;
                font-weight: 700;
                line-height: normal;
                margin: 13px 0 17px 0;
            }

            .recommend_card_bottom {
                margin-top: 32px;
                @include flex-center();
                gap: 23px;

                .eye , .heart {
                    @include flex-center();
                    gap: 8px;


                    img {
                        width: 20px;
                        cursor: pointer;
                    }
                }

                span {
                    color: $text;
                    font-family: $ALS;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: normal;
                }
            }

        }

        .recommend_card_content_min {
            padding: 11px 13px 11px 17px;

            p {
                margin-bottom: 8px;
                color: $text;
                font-family: $ALS;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
            }

            h6 {
                color: $purple;
                font-family: $ALS;
                font-size: 18px;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 11px;
            }

            .recommend_card_bottom {
                @include flex-center();
                gap: 18px;

                .eye , .heart {
                    @include flex-center();
                    gap: 6px;


                    img {
                        width: 16px;
                        cursor: pointer;
                    }
                }

                span {
                    white-space: nowrap;
                    color: $text;
                    font-family: $ALS;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}
// recommend  

// youtube_channel
#youtube_channel {
    margin: 85px 0 79px 0;
    .main_title {
        margin-bottom: 42px;
    }

    .youtube_channel_slider {
        margin-bottom: 36px;
        @include flex-full-center();
        position: relative;

        .channel_btn {
            transform: translateY(5px);
            cursor: pointer;
            position: absolute;
            filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.10));
            // background-color: $white;
            // width: 38px;
            // height: 38px;
            // border-radius: 50%;
            // @include flex-full-center();
        }

        .channel_prev {
            left: -104px;
        }

        .channel_next {
            right: -104px;
        }
    }

    .youtube_card {
        .youtube_card_img {
            position: relative;

            .youtube_img {
                border-radius: 20px;
                overflow: hidden;
                width: 100%;
            }

            .youtube_play_btn {
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%)
            }
        }
    }
}
// youtube_channel

// contact
#contact {
    padding: 85px 0 76px 0;
    background-color: $bg_blue;

    .contact_wrapper {
        display: flex;
        gap: 40px;
    }

    .contact_text {
        .main_title {
            width: 516px;
            text-align: left;
            margin-bottom: 19px;
        }

        .contact_text_bottom {
            display: flex;
        }

        p {
            max-width: 390px;
            color: $purple;
            font-family: $ALS;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 32px;
        }

        .email_input {
            width: 100%;
            padding: 15px 25px 11px 25px;
            border-radius: 50px;
            background: $white;
            margin-bottom: 16px;
            @include flex-center();

            input {
                width: 95%;
                margin-left: 8px;
                border: none;
                color: $purple;
                font-family: $ALS;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;

                &:focus {
                    outline: none;
                }
            }
        }

        button {
            border-radius: 50px;
            background: $red;
            border: none;
            height: 50px;
            width: 100%;
            color: #FFF;
            font-family: $ALS;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            @include transition();

            &:hover {
                background-color: $purple;
            }
        }

        .form_checkbox {
            margin-top: 22px;
            margin-bottom: 45px;
            @include flex-center();
            gap: 11px;
            user-select: none;

            input {
                flex-shrink: 0 !important;
                font-size: 14px;
                appearance:none;
                width: 16px;
                border-radius: 2px;
                height: 16px;
                background-color: $white;
                accent-color: $red;
            }

            input[type='checkbox']:checked:before {
                content:'\2713'; 
                background:transparent; 
                width: 100%; 
                height: 100%; 
                display: flex; 
                align-items:center; justify-content:center; 
                color:$red; 
                font-weight:bold; 
            }

            label {
                margin-bottom: 0;
                color: $purple;
                font-family: $ALS;
                font-size: 12px;
                font-weight: 400;
                line-height: normal;

                a {
                    text-decoration-line: underline;
                }
            }
        }

        .contact_text_bottom {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .contact_btns {
                display: flex;
                flex-direction: column;
            }

            span {
                color: $purple;
                font-family: $ALS;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 8px;
            }

            .contact_botton_link {
                color: $red;
                font-family: $ALS;
                font-size: 18px;
                font-weight: 700;
                line-height: normal;
            }
        }

        .contact_bottom_btn {
            width: 188px;
            @include flex-full-center();
            gap: 9px;
            border-radius: 20px;
            border: 1px solid $white;
            padding: 15px 10px;

            &:hover {
                text-decoration: none;
                background-color: $white;
            }

            span {
                color: $purple;
                font-family: $ALS;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 0;
            }
        }
    }

    .contact_img {
        img {
            transform: translateX(14px)
        }
    }
}
// contact



@import 'header';
@import 'footer';
@import 'responsive';