@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  display: inline-block;
}
a:hover {
  color: inherit;
}

p {
  margin-bottom: 0;
}

input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}
button:focus {
  outline: none;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

body {
  font-style: normal;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1267px;
  padding: 0 20px;
}

.main_title {
  color: #2E2C41;
  text-align: center;
  font-family: "ALS Hauss", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 108.896%;
}

.main_link {
  color: #191919;
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  transition: 0.2s ease;
}
.main_link:hover {
  color: #EA323E;
}

.main_btn {
  padding: 15px 40px;
  margin: 0 auto;
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  border-radius: 10px;
  border: 1px solid #2E2C41 !important;
}
.main_btn:hover {
  background-color: #2E2C41;
  color: #fff;
}
.main_btn:hover svg path {
  stroke: #fff;
}

.main_btn_danger {
  border-radius: 10px;
  background: #EA323E;
  height: 40px;
  width: 100%;
  display: flex;
  padding: 12px 0 9px;
  justify-content: center;
  color: #FFF;
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.2s ease;
}
.main_btn_danger:hover {
  background-color: #2E2C41;
  color: white;
  text-decoration: none;
}

.swiper-button-disabled {
  cursor: auto;
  opacity: 0.5;
}

.select2-container--open .select2-dropdown--below {
  border: 1px solid #aaa !important;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
}

.select2-search {
  display: none;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #2E2C41 !important;
  color: white;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: rgba(46, 44, 65, 0.5843137255);
}

.select2-results__option {
  padding-left: 17px;
}
.select2-results__option span {
  display: flex;
  gap: 7px;
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home {
  background: url("../images/home_bg.png") center/cover no-repeat;
  margin-bottom: 275px;
}
.home__top {
  padding-top: 57px;
  padding-bottom: 187px;
}
.home__top h1 {
  color: #FFF;
  font-family: "ALS Hauss", sans-serif;
  font-size: 57px;
  font-style: normal;
  font-weight: 500;
  line-height: 108.896%;
  max-width: 539px;
  margin-bottom: 56px;
}
.home__top .text_animation {
  color: #FFF;
  font-family: "ALS Hauss", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home__top .text_animation span {
  color: #EA323E;
  font-family: "Caveat", sans-serif;
  font-size: 39.518px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 6px;
}
.home__search .content {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.1);
  padding: 31px 48px 50px;
  width: calc(100% - 40px);
  left: 20px;
  top: 0;
  transform: translateY(calc(-50% + 30px));
}
.home__search .content__body {
  gap: 23px;
  position: relative;
  z-index: 2;
}
.home__search .content__item {
  gap: 27px;
  margin-top: 24px;
}
.home__search .content__item .select_wrap {
  width: 242px;
}
.home__search .content__item .select2-container--default {
  width: 100% !important;
}
.home__search .content__item .select2-container--default .selection {
  width: 100%;
}
.home__search .content__item .select2-container--default .select2-selection--single {
  height: 50px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50px;
  background: #EEF2F5;
  padding-left: 17px;
}
.home__search .content__item .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home__search .content__item .select2-container--default .select2-selection--single .select2-selection__rendered img {
  margin-right: 9px;
}
.home__search .content__item .select2-container--default .select2-selection__arrow {
  background-image: url("../images/icons/select_chevron_down.svg");
  background-size: contain; /* or cover depending on your preference */
  background-repeat: no-repeat;
  background-position: center;
  border: none; /* optional: to remove default border */
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.home__search .content__item .select2-container--default .select2-selection__arrow b {
  display: none;
}
.home__search .content__item .select2-container--default .select2-selection__arrow::after {
  display: none; /* optional: to hide the default arrow */
}
.home__search .content .right_title {
  gap: 9px;
}
.home__search .content .right_title span {
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.home__search .email {
  position: absolute;
  top: 10px;
  right: 9px;
  gap: 8px;
}
.home__search .email .text {
  width: 152px;
  color: #FFF;
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home__search .email .text span {
  font-weight: 700;
}
.home__search .email .text a {
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-top: 8px;
}
.home__search .email:hover svg path {
  stroke: #EA323E;
}
.home__search .email:hover .text {
  color: #EA323E;
}
.home__search img.bg {
  position: absolute;
  top: -1px;
  right: -1px;
}
.home__search .title {
  gap: 5px;
  margin-bottom: 13px;
}
.home__search .title span {
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.home__search select {
  border-radius: 50px;
  background: #EEF2F5;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}
.home__search .checkboxs {
  gap: 19px;
  margin: 19px 0 25px;
}
.home__search .checkbox {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.home__search .checkbox span {
  padding-left: 10px;
}
.home__search .checkbox input[type=checkbox] {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid #9298B0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.home__search .checkbox input[type=checkbox]:checked {
  background: #EA323E;
  position: relative;
  border: none;
}
.home__search .checkbox input[type=checkbox]:checked::before {
  content: "✓";
  position: absolute;
  font-size: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
}
.home__search .easy-basket-filter {
  margin-top: 14px;
  position: relative;
  margin-bottom: 57px;
  width: 300px;
}
.home__search .easy-basket-filter-range {
  position: relative;
}
.home__search .easy-basket-filter-range::before, .home__search .easy-basket-filter-range::after {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  background: #9298B0;
  top: -5px;
  border-radius: 50%;
  left: 0;
}
.home__search .easy-basket-filter-range::after {
  left: auto;
  right: 0;
}
.home__search .range_vlue {
  border-radius: 50px;
  background: #EEF2F5;
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 29px;
  width: 110px;
  padding: 0 10px;
  text-align: left !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.home__search .fill {
  height: 2px;
  width: 100%;
  background-color: #EA323E;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.home__search .easy-basket-filter-info {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 14px;
}
.home__search .easy-basket-filter-info input {
  text-align: center;
}
.home__search .range {
  position: absolute;
  left: 0;
  top: 0;
}
.home__search input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  background: transparent;
}
.home__search input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.home__search input[type=range]:focus, .home__search input[type=text]:focus {
  outline: none;
}
.home__search input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 11px;
  width: 11px;
  background: #EA323E;
  border-radius: 10px;
  cursor: pointer;
  margin-top: -5px;
}
.home__search input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #9298B0;
  border-radius: 1.3px;
}
.home__search .btns {
  padding-top: 7px;
  width: 543px;
}
.home__search .btns .main_btn_danger {
  width: 260px;
  border-radius: 50px;
  height: 50px;
  font-size: 18px;
  padding-top: 13px;
}

#services .services_wrapper {
  margin-top: 40px;
  display: flex;
  align-items: stretch;
  gap: 20px;
}
#services .services_wrapper h6 {
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#services .services_wrapper p {
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#services .services_wrapper .one_card h4 {
  max-width: 189px;
}
#services .services_wrapper .one_card p {
  margin-top: 26px;
  max-width: 221px;
}
#services .services_wrapper .two_card {
  height: 100%;
  position: relative;
}
#services .services_wrapper .two_card h4 {
  max-width: 315px;
  margin-bottom: 18px;
}
#services .services_wrapper .two_card p {
  position: absolute;
  z-index: 2;
  max-width: 231px;
}
#services .services_wrapper .two_card img {
  width: 130px;
  position: absolute;
  bottom: 0;
  right: 22px;
}
#services .services_wrapper .three_card .services_in {
  display: flex;
}
#services .services_wrapper .three_card .services_in img {
  flex: 1;
  width: 100%;
}
#services .services_wrapper .three_card .services_card_text h4 {
  margin-bottom: 43px;
}
#services .services_wrapper .three_card img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#services .services_wrapper .four_card h4 {
  max-width: 130px;
}
#services .services_wrapper .four_card p {
  max-width: 160px;
}
#services .services_card_mini_in {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#services .services_card_mini {
  text-decoration: none;
  padding: 26px 10px 26px 30px;
  border-radius: 20px;
  background: #EEF2F5;
  transition: 0.2s ease;
  border: 1.5px solid transparent;
}
#services .services_card_mini:hover {
  border-radius: 20px;
  border: 1.5px solid #2E2C41;
  background: #EEF2F5;
  box-shadow: 0px 4px 24px 0px rgba(46, 44, 65, 0.15);
}
#services .services_card_mini .services_in {
  display: flex;
}
#services .services_card {
  text-decoration: none;
  padding: 26px 10px 26px 30px;
  flex: 1;
  border-radius: 20px;
  background: #EEF2F5;
  transition: 0.2s ease;
  border: 1.5px solid transparent;
}
#services .services_card:hover {
  border-radius: 20px;
  border: 1.5px solid #2E2C41;
  background: #EEF2F5;
  box-shadow: 0px 4px 24px 0px rgba(46, 44, 65, 0.15);
}

#popular_project {
  padding: 85px 0;
}
#popular_project .popular_project_cards {
  margin: 40px 0;
}
#popular_project .popular_Swiper {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
#popular_project .popular_Swiper img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
#popular_project .project_card_slider {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
#popular_project .project_card_slider .heart_icon {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: 0.2s ease;
  opacity: 0;
}
#popular_project .project_card_slider .heart_icon.active path {
  fill: #EA323E;
  stroke: #EA323E;
}
#popular_project .project_card_slider .slider_text {
  display: block;
  text-decoration: none;
  transition: 0.2s ease;
  z-index: 2;
  position: absolute;
  top: 11px;
  left: 11px;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  border-radius: 5px;
  padding: 5px;
  background: rgba(234, 50, 62, 0.55);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
#popular_project .swiper-pagination {
  display: flex;
  justify-content: center;
  padding: 0 19px;
  transition: 0.2s ease;
  opacity: 0;
}
#popular_project .swiper-pagination .swiper-pagination-bullet {
  flex: 1;
  height: 3px;
  border-radius: 0;
  background: #fff;
}
#popular_project .swiper-pagination .swiper-pagination-bullet-active {
  background: #EA323E;
}
#popular_project .popular_project_card {
  text-decoration: none;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
  position: relative;
}
#popular_project .popular_project_card:hover::before {
  box-shadow: 0px 8px 32px 0px rgba(248, 34, 34, 0.1);
  border-radius: 20px;
  border: 2px solid #EA323E;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#popular_project .popular_project_card:hover .popular_Swiper .swiper-pagination {
  opacity: 1;
}
#popular_project .popular_project_card:hover .popular_Swiper img {
  border: 2px solid #EA323E;
  border-bottom: none;
  display: block;
}
#popular_project .popular_project_card:hover .heart_icon {
  opacity: 1;
}
#popular_project .project_card_content {
  padding: 9px 17px 22px 17px;
}
#popular_project .project_card_content h6 {
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
}
#popular_project .project_card_content .card_content_block {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#popular_project .project_card_content .card_content_block p {
  color: #191919;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-weight: 350;
  line-height: normal;
}
#popular_project .project_card_content .project_card_bottom {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
#popular_project .project_card_content .project_card_bottom span {
  display: block;
  color: #9298B0;
  text-align: right;
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: line-through;
}
#popular_project .project_card_content .project_card_bottom h5 {
  margin-bottom: 0;
  color: #2E2C41;
  text-align: right;
  font-family: "ALS Hauss", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
#popular_project .project_card_content .card_content_block:nth-last-child(even) {
  background-color: #EEF2F5;
}

#artist {
  background-color: #EEF2F5;
  padding: 85px 0;
}
#artist .artist_title_under {
  margin-top: 17px;
  text-align: center;
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}
#artist .artist_slider {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#artist .artist_slider .artist_btn {
  cursor: pointer;
  position: absolute;
  filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.1));
}
#artist .artist_slider .artist_prev {
  left: -104px;
}
#artist .artist_slider .artist_next {
  right: -104px;
}
#artist .artist_card {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#artist .artist_card img {
  width: 147px;
  height: 147px;
  border-radius: 50%;
}
#artist .artist_card h6 {
  margin: 14px 0 3px 0;
  color: #2E2C41;
  text-align: center;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
#artist .artist_card p {
  color: #2E2C41;
  text-align: center;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

#house {
  margin: 85px 0;
}
#house .main_title {
  margin-bottom: 28px;
}
#house .house_cards {
  display: flex;
  gap: 43px 20px;
  margin-bottom: 43px;
}
#house .house_card {
  width: calc(25% - 15px);
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
#house .house_card img {
  width: 100%;
}
#house .house_card h6 {
  height: 54px;
  position: absolute;
  left: 21px;
  right: 21px;
  bottom: 17px;
  color: #fff;
  font-family: "ALS Hauss", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

#recommend .recommend_cards {
  display: flex;
  align-items: stretch;
  gap: 20px;
  margin-top: 33px;
  margin-bottom: 46px;
}
#recommend .recommend_cards .left_card {
  flex: 1;
}
#recommend .recommend_cards .right_card {
  flex: 1;
}
#recommend .card_right {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#recommend .card_right .recommend_card {
  width: calc(50% - 10px);
  overflow: hidden;
  border-radius: 20px;
}
#recommend .card_right .recommend_card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#recommend .recommend_card {
  text-decoration: none;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.1);
}
#recommend .recommend_card img {
  width: 100%;
}
#recommend .recommend_card .recommend_card_content {
  padding: 15px 19px;
}
#recommend .recommend_card .recommend_card_content p {
  color: #9298B0;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
#recommend .recommend_card .recommend_card_content h6 {
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin: 13px 0 17px 0;
}
#recommend .recommend_card .recommend_card_content .recommend_card_bottom {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 23px;
}
#recommend .recommend_card .recommend_card_content .recommend_card_bottom .eye, #recommend .recommend_card .recommend_card_content .recommend_card_bottom .heart {
  display: flex;
  align-items: center;
  gap: 8px;
}
#recommend .recommend_card .recommend_card_content .recommend_card_bottom .eye img, #recommend .recommend_card .recommend_card_content .recommend_card_bottom .heart img {
  width: 20px;
  cursor: pointer;
}
#recommend .recommend_card .recommend_card_content .recommend_card_bottom span {
  color: #9298B0;
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
#recommend .recommend_card .recommend_card_content_min {
  padding: 11px 13px 11px 17px;
}
#recommend .recommend_card .recommend_card_content_min p {
  margin-bottom: 8px;
  color: #9298B0;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
#recommend .recommend_card .recommend_card_content_min h6 {
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 11px;
}
#recommend .recommend_card .recommend_card_content_min .recommend_card_bottom {
  display: flex;
  align-items: center;
  gap: 18px;
}
#recommend .recommend_card .recommend_card_content_min .recommend_card_bottom .eye, #recommend .recommend_card .recommend_card_content_min .recommend_card_bottom .heart {
  display: flex;
  align-items: center;
  gap: 6px;
}
#recommend .recommend_card .recommend_card_content_min .recommend_card_bottom .eye img, #recommend .recommend_card .recommend_card_content_min .recommend_card_bottom .heart img {
  width: 16px;
  cursor: pointer;
}
#recommend .recommend_card .recommend_card_content_min .recommend_card_bottom span {
  white-space: nowrap;
  color: #9298B0;
  font-family: "ALS Hauss", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

#youtube_channel {
  margin: 85px 0 79px 0;
}
#youtube_channel .main_title {
  margin-bottom: 42px;
}
#youtube_channel .youtube_channel_slider {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#youtube_channel .youtube_channel_slider .channel_btn {
  transform: translateY(5px);
  cursor: pointer;
  position: absolute;
  filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.1));
}
#youtube_channel .youtube_channel_slider .channel_prev {
  left: -104px;
}
#youtube_channel .youtube_channel_slider .channel_next {
  right: -104px;
}
#youtube_channel .youtube_card .youtube_card_img {
  position: relative;
}
#youtube_channel .youtube_card .youtube_card_img .youtube_img {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}
#youtube_channel .youtube_card .youtube_card_img .youtube_play_btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact {
  padding: 85px 0 76px 0;
  background-color: #EEF2F5;
}
#contact .contact_wrapper {
  display: flex;
  gap: 40px;
}
#contact .contact_text .main_title {
  width: 516px;
  text-align: left;
  margin-bottom: 19px;
}
#contact .contact_text .contact_text_bottom {
  display: flex;
}
#contact .contact_text p {
  max-width: 390px;
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}
#contact .contact_text .email_input {
  width: 100%;
  padding: 15px 25px 11px 25px;
  border-radius: 50px;
  background: #fff;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
#contact .contact_text .email_input input {
  width: 95%;
  margin-left: 8px;
  border: none;
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
#contact .contact_text .email_input input:focus {
  outline: none;
}
#contact .contact_text button {
  border-radius: 50px;
  background: #EA323E;
  border: none;
  height: 50px;
  width: 100%;
  color: #FFF;
  font-family: "ALS Hauss", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  transition: 0.2s ease;
}
#contact .contact_text button:hover {
  background-color: #2E2C41;
}
#contact .contact_text .form_checkbox {
  margin-top: 22px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  gap: 11px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#contact .contact_text .form_checkbox input {
  flex-shrink: 0 !important;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  border-radius: 2px;
  height: 16px;
  background-color: #fff;
  accent-color: #EA323E;
}
#contact .contact_text .form_checkbox input[type=checkbox]:checked:before {
  content: "✓";
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EA323E;
  font-weight: bold;
}
#contact .contact_text .form_checkbox label {
  margin-bottom: 0;
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
#contact .contact_text .form_checkbox label a {
  text-decoration-line: underline;
}
#contact .contact_text .contact_text_bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#contact .contact_text .contact_text_bottom .contact_btns {
  display: flex;
  flex-direction: column;
}
#contact .contact_text .contact_text_bottom span {
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
#contact .contact_text .contact_text_bottom .contact_botton_link {
  color: #EA323E;
  font-family: "ALS Hauss", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
#contact .contact_text .contact_bottom_btn {
  width: 188px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 15px 10px;
}
#contact .contact_text .contact_bottom_btn:hover {
  text-decoration: none;
  background-color: #fff;
}
#contact .contact_text .contact_bottom_btn span {
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
#contact .contact_img img {
  transform: translateX(14px);
}

.header__top {
  padding-top: 6px;
  padding-bottom: 8px;
}
.header__description {
  gap: 20px;
}
.header__description span {
  color: #191919;
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 12px;
}
.header__description span::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #1AB545;
  border-radius: 50%;
}
.header__right_block {
  gap: 15px;
}
.header__right_block .main_btn {
  border-radius: 20px;
  height: 29px;
  font-size: 14px;
}
.header__line {
  height: 1px;
  background: #9298B0;
}
.header__bottom_right {
  gap: 43px;
}
.header__bottom_right .search input {
  border-radius: 50px;
  border: 1px solid #9298B0;
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 44px;
  width: 520px;
  padding: 0 48px 0 26px;
  color: #191919;
}
.header__bottom_right .search input::-moz-placeholder {
  color: #A7A7A7;
}
.header__bottom_right .search input::placeholder {
  color: #A7A7A7;
}
.header__bottom_right .search button {
  z-index: 1;
  top: 10.78px;
  right: 14px;
  width: 20px;
  height: 20px;
}
.header__bottom_link {
  padding: 14px 12px 12px;
}
.header__bottom_link svg path {
  stroke: #9298B0;
  transition: 0.2s ease;
}
.header__bottom_link span {
  color: #191919;
  text-align: center;
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
  transition: 0.2s ease;
}
.header__bottom_link span.number {
  position: absolute;
  width: 14.25px;
  height: 14.25px;
  border-radius: 50%;
  background-color: #EA323E;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(9px, -9px);
}
.header__bottom_link_wrap:hover {
  border-radius: 10px;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);
}
.header__bottom_link_wrap:hover .header__bottom_link {
  text-decoration: none;
}
.header__bottom_link_wrap:hover .header__bottom_link svg path {
  stroke: #EA323E;
}
.header__bottom_link_wrap:hover .header__bottom_link span:not(.number) {
  color: #EA323E;
}
.header__bottom_link_wrap:hover .header__bottom_link_list {
  display: block;
}
.header__bottom_link_list {
  z-index: 3;
  width: 196px;
  background: #FFF;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);
  padding: 8px 13px 17px 13px;
  border-radius: 10px;
  text-align: center;
  display: none;
}
.header__bottom_link_list::before {
  content: "";
  width: 64px;
  height: 26px;
  background: #FFF;
  position: absolute;
  top: -13px;
  left: 0;
}
.header__bottom_link_list img {
  transform: translateX(-10px);
}
.header__bottom_link_list .description {
  color: #191919;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  margin: 5px 10px 13px 2px;
}
.header__bottom_link_list .subtitle {
  color: #2E2C41;
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 13px 0 5px;
  text-align: left;
}
.header__bottom_link_list ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.header__bottom_link_list ul a {
  text-decoration: none;
  text-align: left;
  gap: 4px;
}
.header__bottom_link_list ul a svg {
  flex-shrink: 0;
}
.header__bottom_link_list ul a span {
  color: #525252;
  font-family: "ALS Hauss", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__bottom_link_list ul a:hover svg path {
  fill: #EA323E;
}
.header__bottom_link_list ul a:hover span {
  color: #EA323E;
}
.header__navs {
  z-index: 2;
}
.header__navs a:hover {
  text-decoration: none;
}
.header__navs_item {
  gap: 5px;
  padding: 8px 14px 17px;
  white-space: nowrap;
}
.header__navs_item:hover {
  text-decoration: none;
}
.header__navs_item:hover .chevron {
  transform: rotate(180deg);
}
.header__navs_item_wrap {
  border-radius: 10px 10px 0 0;
}
.header__navs_item_wrap:hover {
  background: #FFF;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);
}
.header__navs_item_wrap:hover .header__navs_item .chevron {
  transform: rotate(180deg);
}
.header__navs_item_wrap:hover .header__navs_item__lists {
  display: block !important;
}
.header__navs_item__left {
  color: #191919;
  font-family: "ALS Hauss", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 10px;
}
.header__navs_item__lists {
  background: white;
  padding: 0 0 22px 5px;
  border-radius: 0 10px 10px 10px;
  height: 344px;
  display: none;
}
.header__navs_item__lists.left .header__navs_item__list_child {
  transform: translateX(calc(-100% + 15px));
  border-radius: 10px 0 0 10px;
}
.header__navs_item__list {
  width: 340px;
  padding: 12px 10px 12px 11px;
}
.header__navs_item__list span {
  color: #191919;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  gap: 10px;
}
.header__navs_item__list span svg g rect {
  fill: #9298B0;
}
.header__navs_item__list .chevron {
  transform: rotate(-90deg);
}
.header__navs_item__list:hover {
  background: #EEF2F5;
}
.header__navs_item__list:hover span {
  color: #EA323E;
}
.header__navs_item__list:hover span svg path {
  fill: #EA323E;
}
.header__navs_item__list:hover span svg g rect {
  fill: #EA323E;
}
.header__navs_item__list_child {
  width: 350px;
  background: #EEF2F5;
  right: 0;
  top: 0;
  height: 344px;
  transform: translateX(calc(100% - 10px));
  border-radius: 0 10px 10px 0;
  padding-top: 7px;
  display: none;
}
.header__navs_item__list_child a {
  color: #191919;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 12px;
  position: relative;
  padding-bottom: 6px;
  margin-bottom: 6px;
  margin-right: 26px;
}
.header__navs_item__list_child a::before {
  content: "";
  bottom: 0;
  right: 2px;
  width: calc(100% - 65px);
  position: absolute;
  height: 0.5px;
  background: #D9D9D9;
}
.header__navs_item__list_child a span {
  font-weight: 500;
}
.header__navs_item__list_child a img {
  margin-right: 4px;
  width: 59px;
  height: 44px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__navs_item__list_child a.main_btn {
  border-radius: 5px;
  border: 1px solid #A7A7A7;
  background: #FFF;
  height: 40px;
  padding: 0;
  color: #191919;
  font-family: ALS Hauss;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 19px;
}
.header__navs_item__list_child a.main_btn:hover {
  background-color: #2E2C41;
  color: #fff;
}
.header__navs_item__list_child a.main_btn::before {
  display: none;
}
.header__navs_item__list_child__wrap:hover .header__navs_item__list {
  background: #EEF2F5;
}
.header__navs_item__list_child__wrap:hover .header__navs_item__list span {
  color: #EA323E;
}
.header__navs_item__list_child__wrap:hover .header__navs_item__list span svg path {
  fill: #EA323E;
}
.header__navs_item__list_child__wrap:hover .header__navs_item__list span svg g rect {
  fill: #EA323E;
}
.header__navs_item__list_child__wrap:hover .header__navs_item__list .chevron {
  display: none;
}
.header__navs_item__list_child__wrap:hover .header__navs_item__list_child {
  display: block;
}

footer {
  background-color: #2E2C41;
  padding: 25px 0 16px 0;
}
footer .footer_top {
  margin-bottom: 47px;
}
footer .footer_link {
  gap: 37px;
}
footer .footer_link a {
  color: #fff;
  font-family: "ALS Hauss", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: 0.2s ease;
}
footer .footer_link a:hover {
  text-decoration-line: underline;
}
footer p {
  color: #fff;
  font-family: "ALS Hauss", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer p a {
  color: #fff;
  text-decoration-line: underline;
  transition: 0.2s ease;
}
footer p a:hover {
  color: #EEF2F5;
}

@media only screen and (max-width: 1400px) {
  .swiper-button-disabled {
    cursor: auto;
    opacity: 0.8;
  }
  #youtube_channel .youtube_channel_slider .channel_btn {
    z-index: 2;
  }
  #youtube_channel .youtube_channel_slider .channel_prev {
    left: -30px;
  }
  #youtube_channel .youtube_channel_slider .channel_next {
    right: -30px;
  }
  #artist .artist_slider .artist_btn {
    z-index: 2;
  }
  #artist .artist_slider .artist_prev {
    left: -30px;
  }
  #artist .artist_slider .artist_next {
    right: -30px;
  }
  #house .house_card h6 {
    left: 10px;
    right: 10px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 1250px) {
  #services .services_wrapper {
    flex-wrap: wrap;
  }
  #services .services_wrapper .services_card_mini,
  #services .services_wrapper .services_card {
    flex: auto;
    padding: 20px 10px;
    width: calc(50% - 10px);
    text-align: center;
  }
  #services .services_wrapper .services_card_mini img,
  #services .services_wrapper .services_card img {
    width: 100%;
    margin: 0 auto;
  }
  #services .services_wrapper .services_card_mini {
    display: block;
    width: calc(50% - 10px);
  }
  #services .services_wrapper .services_card_mini .services_card_text h4 {
    margin-bottom: 20px;
  }
  #services .services_wrapper .services_card_mini .services_in {
    flex-direction: column;
  }
  #services .services_wrapper .services_card_mini .services_in p {
    margin-bottom: 20px;
  }
  #services .services_wrapper .services_card_mini_in {
    flex: auto;
    order: 3;
    width: 100%;
    flex-direction: row;
  }
  #services .services_wrapper .one_card {
    order: 1;
    display: flex;
    flex-direction: column;
  }
  #services .services_wrapper .one_card h4 {
    order: 1;
    max-width: 100%;
  }
  #services .services_wrapper .one_card img {
    order: 3;
  }
  #services .services_wrapper .one_card p {
    margin-top: 0;
    margin-bottom: 20px;
    order: 2;
    max-width: 100%;
  }
  #services .services_wrapper .two_card h4 {
    max-width: 100%;
  }
  #services .services_wrapper .two_card img {
    position: static;
  }
  #services .services_wrapper .two_card p {
    display: block;
    max-width: 100%;
    position: static;
  }
  #services .services_wrapper .two_card p br {
    display: none;
  }
  #services .services_wrapper .three_card .services_in {
    display: flex;
  }
  #services .services_wrapper .three_card .services_in img {
    -o-object-fit: cover;
       object-fit: cover;
    flex: 0;
    width: 347px;
  }
  #services .services_wrapper .four_card {
    order: 2;
    display: flex;
    flex-direction: column;
  }
  #services .services_wrapper .four_card h4 {
    order: 1;
    max-width: 100%;
  }
  #services .services_wrapper .four_card img {
    order: 3;
  }
  #services .services_wrapper .four_card p {
    order: 2;
    max-width: 100%;
  }
  #contact .contact_wrapper {
    flex-direction: column;
  }
  #contact .contact_wrapper .contact_img img {
    width: 100%;
    transform: translateX(0);
  }
  #contact .contact_text .contact_bottom_btn {
    width: auto;
  }
}
@media only screen and (max-width: 1114px) {
  footer .footer_link {
    margin-top: 20px;
    gap: 10px auto;
  }
}
@media only screen and (max-width: 993px) {
  #house .house_cards {
    gap: 20px;
  }
  #house .house_card {
    width: calc(50% - 10px);
  }
  #recommend .recommend_cards {
    flex-direction: column;
  }
  #contact {
    padding: 50px 0 20px 0;
  }
  #contact .contact_text .main_title {
    width: 100%;
  }
  #contact .contact_text .email_input {
    white-space: nowrap;
  }
  #contact .contact_text .contact_botton_link {
    display: block;
  }
  #contact .contact_text .contact_bottom_btn {
    padding: 15px 25px;
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  footer .footer_link {
    margin-top: 20px;
    gap: 10px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .col-md-12 {
    padding: 0;
  }
  .col-sm-12 {
    padding: 0;
  }
  .main_title {
    font-size: 25px;
  }
  .main_btn {
    padding: 13px 25px;
    font-size: 15px;
  }
  #services .services_wrapper {
    flex-direction: column;
  }
  #services .services_wrapper .services_card_mini,
  #services .services_wrapper .services_card {
    width: 100%;
  }
  #services .services_wrapper .services_card_mini_in {
    flex-direction: column;
  }
  #contact .contact_text .contact_text_bottom {
    flex-direction: column;
  }
  #contact .contact_text .contact_bottom_btn {
    width: auto;
  }
  #recommend .card_right .col-sm-12 {
    padding: 0;
  }
  #house .house_card h6 {
    left: 21px;
    right: 21px;
    font-size: 23px;
  }
}
@media only screen and (max-width: 576px) {
  #services .services_wrapper {
    flex-direction: column;
  }
  #services .services_wrapper .services_card_mini,
  #services .services_wrapper .services_card {
    padding: 20px 10px;
  }
  #services .services_wrapper .services_card_mini img,
  #services .services_wrapper .services_card img {
    width: 100%;
    margin: 0 auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #artist {
    padding: 50px 0;
  }
  #youtube_channel {
    margin: 50px 0;
  }
  #youtube_channel .main_title {
    margin-bottom: 25px;
  }
  #youtube_channel .youtube_card .youtube_card_img .youtube_play_btn {
    width: 50px;
  }
  #recommend .card_right {
    flex-direction: column;
  }
  #recommend .card_right .recommend_card {
    width: 100%;
  }
  #house {
    margin: 50px 0;
  }
  #house .house_card {
    width: 100%;
  }
  footer .footer_top {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: start;
  }
  footer .footer_link {
    flex-direction: column;
    align-items: start;
  }
}/*# sourceMappingURL=style.css.map */