// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

// fonts
$ALS: 'ALS Hauss', sans-serif;
$Inter: 'Inter', sans-serif;
// fonts

// colors
$white: #fff;
$red: #EA323E;
$purple: #2E2C41;
$black: #191919;
$text: #9298B0;
$bg_blue: #EEF2F5;
// colors

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.row {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    display: inline-block;

    &:hover {
        color: inherit;
    }
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

body {
    font-style: normal;
}

input {
    outline: none;
}

button {
    cursor: pointer;
    background: transparent;
    &:focus {
        outline: none;
    }
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1247px;
    padding: 0 20px;
}

// global var
.main_title {
    color: #2E2C41;
    text-align: center;
    font-family: $ALS;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 108.896%;
}

.main_btn {
    padding: 15px 40px;
    margin: 0 auto;
    color: #2E2C41;
    font-family: $ALS;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include transition();
    @include flex-full-center();
    gap: 11px;
    border-radius: 10px;
    border: 1px solid $purple !important;

    &:hover {
        background-color: $purple;
        color: $white;

        svg {
            path {
                stroke: $white;
            }
        }
    }
}

.swiper-button-disabled {
    cursor: auto;
    opacity: .5;
}
// global var

// artist
#artist {
    background-color: $bg_blue;
    padding: 85px 0;

    .artist_title_under {
        margin-top: 17px;
        text-align: center;
        color: $purple;
        font-family: $ALS;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 32px;
    }

    .artist_slider {
        margin-bottom: 40px;
        @include flex-full-center();
        position: relative;

        .artist_btn {
            cursor: pointer;
            position: absolute;
            filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.10));
        }

        .artist_prev {
            left: -104px;
        }

        .artist_next {
            right: -104px;
        }
    }

    .artist_card {
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 147px;
            height: 147px;
            border-radius: 50%;
        }

        h6 {
            margin: 14px 0 3px 0;
            color: $purple;
            text-align: center;
            font-family: $ALS;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
        }

        p {
            color: $purple;
            text-align: center;
            font-family: $ALS;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
        }
    }
}
// artist

// house
#house {
    margin: 85px 0;

    .main_title {
        margin-bottom: 28px;
    }

    .house_card {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 43px;

        img {
            width: 100%;
        }

        h6 {
            height: 54px;
            position: absolute;
            left: 21px;
            right: 21px;
            bottom: 17px;
            color: $white;
            font-family: $ALS;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
        }
    }
}
// house

// youtube_channel
#youtube_channel {
    margin: 85px 0 79px 0;
    .main_title {
        margin-bottom: 42px;
    }

    .youtube_channel_slider {
        margin-bottom: 36px;
        @include flex-full-center();
        position: relative;

        .channel_btn {
            transform: translateY(5px);
            cursor: pointer;
            position: absolute;
            filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.10));
            // background-color: $white;
            // width: 38px;
            // height: 38px;
            // border-radius: 50%;
            // @include flex-full-center();
        }

        .channel_prev {
            left: -104px;
        }

        .channel_next {
            right: -104px;
        }
    }

    .youtube_card {
        .youtube_card_img {
            position: relative;

            .youtube_img {
                border-radius: 20px;
                overflow: hidden;
                width: 100%;
            }

            .youtube_play_btn {
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%)
            }
        }
    }
}
// youtube_channel

// contact
#contact {
    padding: 85px 0 76px 0;
    background-color: $bg_blue;

    .contact_text {
        .main_title {
            width: 516px;
            text-align: left;
            margin-bottom: 19px;
        }

        p {
            max-width: 390px;
            color: $purple;
            font-family: $ALS;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 32px;
        }

        .email_input {
            padding: 15px 25px 11px 25px;
            border-radius: 50px;
            background: $white;
            margin-bottom: 16px;

            input {
                margin-left: 8px;
                border: none;
                color: $purple;
                font-family: $ALS;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;

                &:focus {
                    outline: none;
                }
            }
        }

        button {
            border-radius: 50px;
            background: $red;
            border: none;
            height: 50px;
            width: 100%;
            color: #FFF;
            font-family: $ALS;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            @include transition();

            &:hover {
                background-color: $purple;
            }
        }

        .form_checkbox {
            margin-top: 22px;
            margin-bottom: 45px;
            @include flex-center();
            gap: 11px;
            user-select: none;

            input {
                flex-shrink: 0 !important;
                font-size: 14px;
                appearance:none;
                width: 16px;
                border-radius: 2px;
                height: 16px;
                background-color: $white;
                accent-color: $red;
            }

            input[type='checkbox']:checked:before {
                content:'\2713'; 
                background:transparent; 
                width: 100%; 
                height: 100%; 
                display: flex; 
                align-items:center; justify-content:center; 
                color:$red; 
                font-weight:bold; 
            }

            label {
                margin-bottom: 0;
                color: $purple;
                font-family: $ALS;
                font-size: 12px;
                font-weight: 400;
                line-height: normal;

                a {
                    text-decoration-line: underline;
                }
            }
        }

        .contact_text_bottom {
            span {
                color: $purple;
                font-family: $ALS;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 8px;
            }

            .contact_botton_link {
                color: $red;
                font-family: $ALS;
                font-size: 18px;
                font-weight: 700;
                line-height: normal;
            }
        }

        .contact_bottom_btn {
            @include flex-center();
            gap: 9px;
            border-radius: 20px;
            border: 1px solid $white;
            padding: 15px 10px;

            &:hover {
                text-decoration: none;
                background-color: $white;
            }

            span {
                color: $purple;
                font-family: $ALS;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 0;
            }
        }
    }
}
// contact



@import 'header';
@import 'footer';
@import 'responsive';